apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ankra-agent-{{ .Release.Namespace }}
  labels:
    {{- include "ankra-agent.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - '*'
    resources:
      - '*'
    verbs:
      - '*'
  - nonResourceURLs:
    - '*'
    verbs:
    - '*'
